*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bg-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 10%;
    z-index: -1;
}

.cabecalho{
    padding: 0% 0% 0% 3%;
}

.cabecalho-logo{
    width: 70px;
    height: 70px;
}

.container {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.left-panel,
.right-panel {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-panel {
    margin-right: 20px;
}

h2 {
    color: #2a75bb;
}

textarea {
    width: 97%;
    height: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f3f5;
    font-size: 16px;
    color: #333;
}

textarea#input-text {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

textarea::placeholder {
    color: #999;
}

.validation-msg {
    color: #ff6b6b;
    font-size: 14px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.buttons button {
    padding: 10px;
    font-size: 16px;
    background-color: #3E6AD2;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 61px;
}

button#encrypt-btn:hover{
    background-color: #11275c;
    transition: background-color 0.3s;
}

button#decrypt-btn {
    background-color: #E5E5E5;
    border: 1px solid #3D107B;
    color: #3D107B;
}
button#decrypt-btn:hover {
    background-color: #b793e9;
    transition: background-color 0.3s;
}

button i {
    margin-right: 10px;
}

.right-panel img {
    max-width: 50%;
    margin-bottom: 20px;
    display: block;
}

#output-msg {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #3E6AD2;
    color: #fff;
    bottom: 0;
    width: 100%;
}


.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-panel .output {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copy-btn {
    padding: 0px;
    font-size: 16px;
    border: 1px solid #3D107B;
    background-color: white;
    color: #3D107B;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    margin-bottom: 5px;
}

#copy-btn:hover {
    background-color: #E5E5E5;
    transition: background-color 0.3s;
}
.icone{
    width: 25px;
    height: 25px;
}

.icone-copy{
    margin-top: 15px;
    width: 25px;
    height: 25px;
    
}



/* Media Queries para Responsividade */

/* Para tablets */
@media (max-width: 1024px) {

    .cabecalho{
        display: flex;
        justify-content: center;
    }

    .cabecalho-logo{
        width: 100px;
        height: 100px;
    }
    .container {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .left-panel {
        margin-right: 0;
    }

    .buttons {
        margin-top: 20px;
    }

    textarea {
        height: 150px;
    }
}

/* Para telefones móveis */
@media (max-width: 768px) {
    .cabecalho-logo {
        width: 80px;
        height: 80px;
    }

    h2 {
        font-size: 18px;
    }

    textarea {
        height: 120px;
        font-size: 14px;
    }

    .validation-msg {
        font-size: 12px;
    }

    .buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .buttons button {
        margin: 5px 0;
    }

    #output-msg {
        font-size: 16px;
    }

    .right-panel img {
        max-width: 70%;
    }

    #copy-btn {
        font-size: 14px;
        padding: 6px;
    }

    footer {
        font-size: 12px;
    }
}